.about-container {
  width: 50%;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: auto;
  display: flex;
  flex-direction: column;
  border-bottom: solid #333 1px;
  align-items: center;
  color: #333;
  margin-bottom: 20px;
}
